.gallery__like {
  display: block;
  width: 22px;
  height: 19px;
  background-image: url(../../../images/like.svg);
  background-size: 22px 19px;
  border: none;
  background-color: transparent;
}

.gallery__like:hover {
  cursor: pointer;
  opacity: .5; 
}