.input__text {
  border: none;
  border-bottom: solid rgba(0, 0, 0, .2) 1px;
  font-size: 14px;
  line-height: 17px;
  min-height: 27px;
  padding: 0 0 4px 1px;

}

.input__text:focus { 
  outline: 2px solid #72a1f9;
  box-shadow: 0 0 7px #72a1f9;
  border-radius: 2px;
}